html, body {
  height: 100%;
  margin: 0;
}

@keyframes collapsible-down {
  from { height: 0; opacity: 0; }
  to   { height: var(--collapsible-panel-height); opacity: 1; }
}

@keyframes collapsible-up {
  from { height: var(--collapsible-panel-height); opacity: 1; }
  to   { height: 0; opacity: 0; }
}

